#Games Files
/game/_toolsettings/
/game/bin/
/game/core/
/game/hlvr/
/game/hlvr_addons/audio_new_sound/
/game/hlvr_addons/custom_character/

#Content Files
/content/core/
/content/hlvr/
/content/hlvr_addons/addon_template
/content/hlvr_addons/audio_new_sound
/content/hlvr_addons/custom_character